asgiref
bleach
certifi
cffi
charset-normalizer
cryptography
Django
django-allauth
django-summernote
google-auth
idna
pillow
pyasn1
pyasn1_modules
pycparser
PyJWT
requests
rsa
sqlparse
urllib3
webencodings
gunicorn
python-dotenv